@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url('/bg-pattern-top-mobile.svg'),
    url('bg-pattern-bottom-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
   background-position: top -200px left 0px, bottom -1100px right 0px;
} */
